body{
    margin: 0px;
    padding: 0px;
    overflow-y:auto;
}
.container{
    width:100%;
    height:150px;
    background-color:#FFF4E6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo img{
  width: 210px;
  padding-left: 20px;
}
.nav-items{
    padding-right:110px ;
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    justify-content: center;
}   

.nav-items a{
    text-decoration:none;
    color:black;    
    font-size: 17px;
    font-family:sans-serif;
}

.nav-items a:hover{
    text-decoration: underline;
}
section{
    display: flex;
    flex-direction: row;
}
.section{
    width: 50%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 90px;
    padding-top: 50px;
}
.first-p{
    height: 100px;
    font-size: 90px;
    letter-spacing: 5px;
    line-height: 90px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.second-p{
    font-size: 17px;
    font-family:sans-serif;
}
.section-image{ 
    display: flex;
    flex-direction:column;
    
    margin-left: 10px;
    margin-top: 130px;
}
.btn{
    width:190px;
    height: 67px;
    border:none;
    border-radius: 8px;
    color: #fff;
    background-color: lightskyblue;
    margin-top: 14px;
}
.btn:hover{
    background-color: lightsteelblue;
}
.section-two{
    width: 100%;
    height: 100vh;
}
.section-two h2{
    height: 35px;
    padding-top: 100px;
    margin-left: 80px;
    font-size: 45px;
    font-family:'Courier New', Courier, monospace;
}
.section-two p{
    margin-left: 80px;
    font-size: large;
    font-family: serif;
}
.img-div{
    margin-left: 16px;
    gap: 16px;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    /* position: relative; */
}
.first-img img{
    width: 350px;
    height: 380px; 
}
.first-img{
    position: relative;  
}
.first-para{
    position: absolute;
    bottom: 5px;
    color: white;
}
.second-img img{
    width: 350px;
    height: 380px;
}
.second-img{
    position: relative;
}
.second-para{
    position: absolute;
    bottom: 5px;
    color: white;
}
.third-img img{
    width: 350px;
    height: 380px;
}
.third-img{
    position: relative;
}
.third-para{
    position: absolute;
    bottom: 5px;
    color: white;
}
.forth-img img{
    width: 350px;
    height: 380px;
}
.forth-img{
    position: relative;
}
.forth-para{
    position: absolute;
    bottom: 5px;
    color: white;
}
.footer{
    width: 100%;
    height: 450px;
    background-color:#FFF4E6;
    text-align: center;
    align-content: center;
}
.icon{
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
}
.icon i{
   /* text-align: center; */
   /* box-sizing: border-box; */
   padding-top: 12px;
}
.footer-icons{
    display: flex;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
    color:black;
}

@media screen and (max-width:1024px) {
    section{
        display: flex;
        flex-direction: column;
        height: 1100px;
        align-items: center;
    }
    .section-image{
        align-items: center;
    }
    .img-div{
    width: 404px;
    height: 360px;
    margin-left: 20px;
    gap: 10px;
    }
    .section-two p{
    margin-left: 80px;
    font-size: x-large;
    font-family: serif;
    }
}
@media screen and (max-width:820px) {
    .img-div{
    width: 140px;
    height: 140px;
    margin-left: 80px; 
    gap: 20px;
    display: flex;
    flex-direction: column;
}
}