body{
    margin: 0px;
    padding: 0px;
}
.container{
    width:100%;
    height:150px;
    background-color:rgb(247, 241, 212);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo{
     
}
.nav-items{
    padding-right:110px ;
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    justify-content: center;
}    
.nav-items a{
    text-decoration:none;
    color:black;    
    font-size: 17px;
    font-family:sans-serif;
}
