body{
    margin: 0px;
    padding: 0px;
    overflow-y:auto;
}
.container{
    width:100%;
    height:150px;
    background-color:rgb(247, 241, 212);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo{
     
}
.nav-items{
    padding-right:110px ;
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    justify-content: center;
}    
.nav-items a{
    text-decoration:none;
    color:black;    
    font-size: 17px;
    font-family:sans-serif;
}
.nav-items a:hover{
    text-decoration: underline;
}
section{
    display: flex;
    flex-direction: row;
}
.section{
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 90px;
    padding-top: 50px;
}
.first-p{
    height: 100px;
    font-size: 90px;
    letter-spacing: 5px;
    line-height: 90px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.second-p{
    font-size: 17px;
    font-family:sans-serif;
}
.section-image{
    width: 390px;
    height: 390px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 100px;
    margin-top: 130px;
}
.btn{
    width:190px;
    height: 67px;
    border:none;
    border-radius: 8px;
    color: #fff;
    background-color: lightskyblue;
    margin-top: 14px;
}
.btn:hover{
    background-color: lightsteelblue;
}
.section-two{
    width: 100%;
    height: 100vh;
}
.section-two h2{
    height: 35px;
    padding-top: 100px;
    margin-left: 80px;
    font-size: 45px;
    font-family:'Courier New', Courier, monospace;
}
.section-two p{
    margin-left: 80px;
    font-size: large;
    font-family: serif;
}
.img-div{
    width: 480px;
    height: 400px;
    margin-left: 80px;
    gap: 20px;
    display: flex;
    flex-direction: row;
}
.footer{
    width: 100%;
    height: 450px;
    background-color:rgb(247, 241, 212);
    text-align: center;
    align-content: center;
}
.footer-icons{
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width:1024px) {
    section{
        display: flex;
        flex-direction: column;
        height: 1100px;
        align-items: center;
    }
    .section-image{
        align-items: center;
    }
    .img-div{
    width: 404px;
    height: 360px;
    margin-left: 20px;
    gap: 10px;
    }
    .section-two p{
    margin-left: 80px;
    font-size: x-large;
    font-family: serif;
    }
}